<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <!-- Import Vue.js version 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <h1>Heysadas</h1>
    <div id="app">
      <table class="table table-hover">
        <thead>
          <th>#</th>
          <th>Name</th>
          <th>Quantitiy</th>
          <th>Actions</th>
        </thead>
        <tbody v-for="product in products ">
          <td>{{product.id}}</td>
          <td>
            {{product.title}}
            <span v-if="product.stock<20" class="text-danger">
              Limited Stocks only</span
            >
            <span v-if="product.rating>4.5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.0"
                id="Layer_1"
                width="30px"
                height="30px"
                viewBox="0 0 64 64"
                enable-background="new 0 0 64 64"
                xml:space="preserve"
              >
                <g>
                  <path
                    fill="#394240"
                    d="M31.998,2.478c0.279,0,0.463,0.509,0.463,0.509l8.806,18.759l20.729,3.167l-14.999,15.38l3.541,21.701   l-18.54-10.254l-18.54,10.254l3.541-21.701L2,24.912l20.729-3.167l8.798-18.743C31.527,3.002,31.719,2.478,31.998,2.478 M31.998,0   c-0.775,0-1.48,0.448-1.811,1.15l-8.815,18.778L1.698,22.935c-0.741,0.113-1.356,0.632-1.595,1.343   c-0.238,0.71-0.059,1.494,0.465,2.031l14.294,14.657L11.484,61.67c-0.124,0.756,0.195,1.517,0.822,1.957   c0.344,0.243,0.747,0.366,1.151,0.366c0.332,0,0.666-0.084,0.968-0.25l17.572-9.719l17.572,9.719   c0.302,0.166,0.636,0.25,0.968,0.25c0.404,0,0.808-0.123,1.151-0.366c0.627-0.44,0.946-1.201,0.822-1.957l-3.378-20.704   l14.294-14.657c0.523-0.537,0.703-1.321,0.465-2.031c-0.238-0.711-0.854-1.229-1.595-1.343l-19.674-3.006L33.809,1.15   C33.479,0.448,32.773,0,31.998,0L31.998,0z"
                  />
                  <path
                    fill="#F9EBB2"
                    d="M31.998,2.478c0.279,0,0.463,0.509,0.463,0.509l8.806,18.759l20.729,3.167l-14.999,15.38l3.541,21.701   l-18.54-10.254l-18.54,10.254l3.541-21.701L2,24.912l20.729-3.167l8.798-18.743C31.527,3.002,31.719,2.478,31.998,2.478"
                  />
                </g>
              </svg>
            </span>
          </td>
          <td>
            <input type="number" v-model.number="product.stock">
          </td>
          <td>
            <button @click="product.stock += 1" class="btn btn-outline-dark">
              Add
            </button>
          </td>
        </tbody>
      </table>
      <h2>Total Inventory: {{totalProducts}}</h2>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          products: [],
        },
        computed: {
          totalProducts() {
            return this.products.reduce((sum, product) => {
              return sum + product.stock;
            }, 0);
          },
        },
        created() {
          fetch("https://dummyjson.com/products")
            .then((response) => response.json())
            .then((json) => {
              this.products = json.products;
              console.log(json);
            });
        },
      });
    </script>
  </body>
</html>
